<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>Home</li>
                    <li>Blog</li>
                    <li>Licenses</li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Made with <i class="fa fa-heart heart"></i> by <strong>Rupesh Verma</strong>. 
                </span>
            </div>
        </div>
    </div>
</footer>
