.navTextColor{
    color:#17a2b8 !important;
}
.twitterTextColor{
    color:rgb(7, 139, 248) !important;
}
.fbTextColor{
    color:rgb(25, 47, 240) !important;
}
.instaTextColor{
    color:rgb(228, 35, 93) !important;
}